

.input{
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    display:flex;
    width:90vh;
    height:5%;
    flex-shrink: 0; 
    max-width: 400px;
}

.input:focus {
    border-color: #0ece37; 
    box-shadow: 0 0 5px rgba(80, 177, 35, 0.5); 
    outline: none; 
  }


.input::placeholder {
    text-align: center; 
    color: #aaa; 
    font-style: italic; 
  }


  .submit {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white; /* Text color */
    background-color: limegreen; /* Lime green background color */
    width: 200px; /* Button width */
    height: 50px; /* Button height */
    margin: 1em auto 0 auto;
    border: none;
    border-radius: 25px; /* Increased border-radius for more rounded corners */
    font-size: 1rem; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease; /* Smooth transitions */
  }
  
  /* Hover effect for submit button */
  .submit:hover {
    background-color: lime; /* Lighter lime color on hover */
    transform: scale(1.1); /* Slightly increase the size of the button */
    font-size: 1.1rem; /* Slightly increase the text size */
  }

h1{
   font-style:bold;
}

.form { 
    width:80vh;
    max-width: 500px;
    height:50vh;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
  }
  
  .inputError {
    border-color: red; /* Highlight the border in red */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Optional: Add a red glow effect */
  }

  .sysMsg{
    color:brown;
  }
